.about{
    overflow: hidden;

    &__intro{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 80px 0px 80px 80px;

        &__text{
            font-size: 1.125rem;
            line-height: 2.1;
            max-width: 50%;
        }

        &__patterns{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;

            img{
                width: 100%;
                height: auto;

                &:nth-child(1){
                    margin-bottom: 45px;
                }

                &:nth-child(2){
                    margin-right: 200px;
                }
            }
        }
    }

    &__skills{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .box{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: $darkBlue;
            padding: 12px;
            margin: 10px 22px ;
            border-radius: 12px;
            max-width: 500px;


            h3{
                font-size: 26px;
                color: $blue;
                font-family: 'Istok web', sans-serif;
                font-weight: bold;
                margin-bottom: 20px;
            }
            
            &__el{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 150px;
                height: 55px;   
                margin: 15px;

                span{
                    margin-left: 10px;
                }
            }

            &__technos{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                max-width: 370px;
                margin: 0 25px;

            }

            &__webdesign, &__other{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 25px;
            }

        }
    }

}

@media screen and (max-width: 1600px){
    .about__intro{
        align-items: center;

        &__text{
            max-width: 70%;
        }

        &__patterns{
            width: 30%;

            img{
                width: 60%;
            }
        }
    }
}
@media screen and (max-width: 1350px){
    .about__intro{
        align-items: flex-start;

        &__text{
            max-width: 57%;
        }

        &__patterns{
            margin-top: 50px;
            width: 38%;

            img:nth-child(2){
                margin-right: 150px;
            }
        }
    }
}

@media screen and (max-width: 992px){
    .about__intro{

        &__text{

            p{
                font-size: 16px;
            }
        }

        &__patterns{

            img:nth-child(2){
                margin-right: 100px;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .about__intro{
        margin: 50px 30px;

        &__text{
            max-width: 100%;
            margin-right: 80px;
        }

        &__patterns{
            display: none;
        }
    }
}
@media screen and (max-width: 600px){
    .about__intro{

        &__text{
            margin: 0px;
        }

        &__patterns{
            display: none;
        }
    }
}


