.nav__menu{
        width: 50%;
        margin: 0 auto 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $darkBlue;

        &__ul{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
    
            li{
                background-color: $darkBlue;
                margin: 0.7rem 5.4rem;

                a{
                    transition: all 0.3s linear;

                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }

.header{
    height: 86vh;
    position: relative;

    
    &__scroll{        
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: flex-end;

        &__text{
            font-size: 13px;
            font-family: 'Hind Madurai', sans-serif;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            letter-spacing: 0.8px;
            color: $background;
            -webkit-text-stroke: 0.3px $blue;
            position: relative;

            
            &::before{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: $blue;
                -webkit-text-stroke: 0.3px $blue;
                overflow: hidden;
                animation: scrollTxt 3.5s infinite linear;
            }
        }

        &__line{
            background-color: $darkBlue;
            width: 2px;
            height: 55px;
            margin-left: 5px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                background-color: $blue;
                overflow: hidden;
                animation: scrollTxt 3.5s infinite linear;
            }
        
        }

    }

    &::after{
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 338px;
        height: 110px;
        background-image: url('../img/patterns/pattern-2.svg');
        background-repeat: no-repeat;
    }
}


.header__banner{
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    flex-wrap: wrap;

    &__text{
        position: relative;
        z-index: 10;
        background-color: $darkBlue;
        padding: 60px 80px 60px 50px;
        margin-left: 15px;

        &::after{
            content: " ";
            position: absolute;
            right: -300px;
            top: 45px;
            width: 300px;
            height: 220px;
            background-image: url('../img/patterns/pattern-1.svg');
            z-index: -1;
        }

        &--hide{
            overflow: hidden;
            background-color: $darkBlue;

            &--txt{                
                background-color: $darkBlue;
                opacity: 0;
                transform: translateY(100%);
                display: inline-block;
                font-size: inherit;
                font-family: inherit;
            }
        }

        p{
            color: $blue;
            background-color: $darkBlue;
            padding-bottom: 20px;
            font-family: 'Istok Web', sans-serif;
            font-size: clamp(2rem, 2vw, 3.3rem);
            font-weight: bold;
            opacity: 0 ;
        }

    }


    &__img{
        margin: 50px 15px -50px -50px ;
        z-index: 15;
    }

}

@keyframes scrollTxt {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}


@media screen and (max-width: 1350px){
    .header__banner__img {
        margin-left: -80px;
        margin-bottom: -80px;

        svg{
            width: 400px;
            height: auto;
        }
    }

    .header__banner__text{
        &::after{
            top: 65px;
            right: -250px;
            width: 250px;
        }
    }

    .nav__menu{
        width: 100%;
        margin-bottom: 50px;
        
        &__ul{
            padding: 15px;
        }
    }
}

@media screen and (max-width: 768px){  
    .separateur{
        margin: 50px
    }  
    .header{
        
        &::after{            
            width: 240px;
            height: 80px;
        }
    }

    .header__banner{

        &__text{
            padding: 25px;

            &::after{
                display: none;
            }
        }
    }

    .header__banner__img {
        margin-left: 15px;
        margin-bottom: -50px;

        svg{
            width: 300px;
            height: auto;
        }
    }
}

@media screen and (max-width: 650px){
    .nav__menu{
        margin-bottom: 20px;

        &__ul li{
            margin: 15px 25px;
        }
    }
    .header{
        height: 89vh;

        &::after{            
            display: none;
        }

        &__banner{

            &__text{
                padding: 35px 60px;
                margin-bottom: 25px;
            }
    
            &__img{
                margin: 15px;
    
                svg{
                    width: 250px;
                }
            }
        }
    }
}