.header{
    height: 100vh;
    position: relative;

    &__menu{
        width: 50%;
        margin: 0 auto;

        &__ul{
            background-color: $darkBlue;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-bottom: 50px;;
    
            li{
                background-color: $darkBlue;
                margin-top: clamp(0.5rem, 2vw, 0.7rem);
                margin-right: clamp(3rem, 5vw, 6.4rem);
                margin-bottom: clamp(0.5rem, 2vw, 0.7rem);
                margin-left: clamp(3rem, 5vw, 6.4rem);

                a{
                    transition: all 0.3s linear;

                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }

    
    &__scroll{        
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%,-25%);
        display: flex;
        align-items: flex-end;

        &__text{
            font-size: clamp(1.2rem, 2vw, 1.4rem);
            font-family: 'Hind Madurai', sans-serif;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            letter-spacing: 0.8px;
            color: $background;
            -webkit-text-stroke: 0.2px $blue;
            position: relative;

            
            &::before{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: $blue;
                -webkit-text-stroke: 0.3px $blue;
                overflow: hidden;
                animation: scrollTxt 3.5s infinite linear;
            }
        }

        &__line{
            background-color: $darkBlue;
            width: 2px;
            height: 55px;
            margin-left: 5px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                background-color: $blue;
                overflow: hidden;
                animation: scroll 3.5s infinite linear;
            }
        
        }

    }

    &::after{
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 338px;
        height: 110px;
        background-image: url('../img/patterns/pattern-2.svg');
        background-repeat: no-repeat;
    }
}


.header__banner{
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    flex-wrap: wrap;

    &__text{
        position: relative;
        z-index: 10;
        background-color: $darkBlue;
        padding-top: clamp(50px, 5vw, 150px);
        padding-right: clamp(50px, 5vw, 150px);
        padding-bottom: clamp(30px, 5vw, 50px);
        padding-left: clamp(30px, 5vw, 50px);

        &::after{
            content: " ";
            position: absolute;
            right: -300px;
            top: 65px;
            width: 300px;
            height: 220px;
            background-image: url('../img/patterns/pattern-1.svg');
            z-index: -1;
        }

        &--hide{
            overflow: hidden;
            background-color: $darkBlue;

            span{                
                background-color: $darkBlue;
                transform: translateY(100%);
                display: inline-block;
                font-size: inherit;
                font-family: inherit;
            }
        }

        p{
            color: $blue;
            background-color: $darkBlue;
            padding-bottom: 20px;
            font-family: 'Istok Web', sans-serif;
            font-size: clamp(2rem, 2vw, 3.3rem);
            font-weight: bold;
            opacity: 0 ;
        }

    }


    &__img{
        margin-bottom: -80px;
        margin-left: -70px;
        z-index: 15;
    }

}


@keyframes scroll {
    0%{
        height: 0;
    }
    100%{
        height: 55px;
    }
}

@keyframes scrollTxt {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

@media screen and (max-width: 992px){
    .header__menu{
        width: 100%;
        
        &__ul{
            padding: 15px;
            margin-bottom: 25px;
        }
    }

}