footer{
    background: $darkBlue;
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .f-logo{
        margin-right: 50px;
        padding: 10px;
    }
    
    .f-left{
        padding: 10px;
        margin: 0 50px;

        p{
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 35px;
        }

        span{
            display: block;
            line-height: 1.6;
        }
    }

    .f-right{
        padding: 10px;
        margin-left: 50px;

        p{
            font-size: 24px;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width: 1350px){
    footer{
        .f-left, .f-right{

            p, span{
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 650px){
    footer{
        flex-wrap: wrap;
        justify-content: flex-start;

        .f-logo{
            width: 100%;
            margin-right: 25px;
            display: block;
        }

        .f-left{
            margin: 20px 0px 0px 0px;

            span, p{
                font-size: 16px;
            }
        }
        .f-right{
            margin: 20px 0px 0px 0px;

            span, p{
                font-size: 16px;
            }

            p{
                margin-bottom: 20px;
            }
        }
    }
}