.projets{
    overflow: hidden;

    .projet:nth-child(even){
        flex-wrap: wrap-reverse;

        .projet__line{
            order: 3;
        }

        .projet__contenu{
            order: 2;
        }

        img{
            order: 1;
        }
    }
}

.projet{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    flex-wrap: wrap;
    padding: 15px;

    &__line{
        width: 65px;
        height: 2px;
        background-color: $white;
    }

    &__contenu{
        max-width: 500px;
        margin: 0 50px;

        span{
            font-family: 'Istok Web', sans-serif;
            color: $blue;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 25px;
            display: block;
        }

        h4{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 20px;
        }

        p{
            text-align: justify;
            margin-bottom: 25px;
        }
    }

    img{
        max-width: 500px;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

}

@media screen and (max-width: 1250px){
    .projet{
        &__line{
            display: none;
        }
    }
}
@media screen and (max-width: 1150px){
    .projet{
        margin: 70px 0;

        &__contenu{
            max-width: 600px;
            margin: 0 15px 20px;
        }
        img{
            max-width: 600px;
        }
    }
}