.skills{
    padding: 10px;
    font-size: 7rem;
}

.test1{
    overflow: hidden;
    height: 100vh;
}

.trait{
    width: 200px;
    height: 2px;
    background-color: rgba(240, 241, 144, 0.9);
}

.trait1{
    width: 2px;
    height: 150px;
    background-color: royalblue;
}