.header {
  height: 100vh;
  position: relative;
}

.header__menu {
  width: 50%;
  margin: 0 auto;
}

.header__menu__ul {
  background-color: #373A55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.header__menu__ul li {
  background-color: #373A55;
  margin-top: clamp(0.5rem, 2vw, 0.7rem);
  margin-right: clamp(3rem, 5vw, 6.4rem);
  margin-bottom: clamp(0.5rem, 2vw, 0.7rem);
  margin-left: clamp(3rem, 5vw, 6.4rem);
}

.header__menu__ul li a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__menu__ul li a:hover {
  color: #5BC2E2;
}

.header__scroll {
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__scroll__text {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-family: 'Hind Madurai', sans-serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  letter-spacing: 0.8px;
  color: #25283A;
  -webkit-text-stroke: 0.2px #5BC2E2;
  position: relative;
}

.header__scroll__text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #5BC2E2;
  -webkit-text-stroke: 0.3px #5BC2E2;
  overflow: hidden;
  -webkit-animation: scrollTxt 3.5s infinite linear;
          animation: scrollTxt 3.5s infinite linear;
}

.header__scroll__line {
  background-color: #373A55;
  width: 2px;
  height: 55px;
  margin-left: 5px;
  position: relative;
}

.header__scroll__line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  background-color: #5BC2E2;
  overflow: hidden;
  -webkit-animation: scroll 3.5s infinite linear;
          animation: scroll 3.5s infinite linear;
}

.header::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 338px;
  height: 110px;
  background-image: url("../img/patterns/pattern-2.svg");
  background-repeat: no-repeat;
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__banner__text {
  position: relative;
  z-index: 10;
  background-color: #373A55;
  padding-top: clamp(50px, 5vw, 150px);
  padding-right: clamp(50px, 5vw, 150px);
  padding-bottom: clamp(30px, 5vw, 50px);
  padding-left: clamp(30px, 5vw, 50px);
}

.header__banner__text::after {
  content: " ";
  position: absolute;
  right: -300px;
  top: 65px;
  width: 300px;
  height: 220px;
  background-image: url("../img/patterns/pattern-1.svg");
  z-index: -1;
}

.header__banner__text--hide {
  overflow: hidden;
  background-color: #373A55;
}

.header__banner__text--hide span {
  background-color: #373A55;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
}

.header__banner__text p {
  color: #5BC2E2;
  background-color: #373A55;
  padding-bottom: 20px;
  font-family: 'Istok Web', sans-serif;
  font-size: clamp(2rem, 2vw, 3.3rem);
  font-weight: bold;
  opacity: 0;
}

.header__banner__img {
  margin-bottom: -80px;
  margin-left: -70px;
  z-index: 15;
}

@-webkit-keyframes scroll {
  0% {
    height: 0;
  }
  100% {
    height: 55px;
  }
}

@keyframes scroll {
  0% {
    height: 0;
  }
  100% {
    height: 55px;
  }
}

@-webkit-keyframes scrollTxt {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes scrollTxt {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .header__menu {
    width: 100%;
  }
  .header__menu__ul {
    padding: 15px;
    margin-bottom: 25px;
  }
}

.about {
  overflow: hidden;
}

.about__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px 80px 80px;
}

.about__intro__text {
  font-size: 1.125rem;
  line-height: 2.1;
  max-width: 50%;
}

.about__intro__patterns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__intro__patterns img {
  width: 100%;
  height: auto;
}

.about__intro__patterns img:nth-child(1) {
  margin-bottom: 45px;
}

.about__intro__patterns img:nth-child(2) {
  margin-right: 200px;
}

.about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__skills .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #373A55;
  padding: 12px;
  margin: 10px 22px;
  border-radius: 12px;
  max-width: 500px;
}

.about__skills .box h3 {
  font-size: 26px;
  color: #5BC2E2;
  font-family: 'Istok web', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__skills .box__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 55px;
  margin: 15px;
}

.about__skills .box__el span {
  margin-left: 10px;
}

.about__skills .box__technos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 370px;
  margin: 0 25px;
}

.about__skills .box__webdesign, .about__skills .box__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
}

.projets {
  overflow: hidden;
}

.projets .projet:nth-child(even) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.projets .projet:nth-child(even) .projet__line {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.projets .projet:nth-child(even) .projet__contenu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.projets .projet:nth-child(even) img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projet {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.projet__line {
  width: 65px;
  height: 2px;
  background-color: #ffffff;
}

.projet__contenu {
  max-width: 500px;
  margin: 0 50px;
}

.projet__contenu span {
  font-family: 'Istok Web', sans-serif;
  color: #5BC2E2;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;
  display: block;
}

.projet__contenu h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.projet__contenu p {
  text-align: justify;
  margin-bottom: 25px;
}

.projet img {
  max-width: 500px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact {
  overflow: hidden;
  height: 110vh;
  position: relative;
}

.contact::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/patterns/pattern-5.svg");
  background-repeat: no-repeat;
  width: 380px;
  height: 380px;
  display: block;
}

h5 {
  text-align: center;
  margin: 100px auto;
  line-height: 2;
}

h5 .hand-emoji {
  font-size: inherit;
  display: inline-block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: emojis 1.5s ease-in-out infinite forwards;
          animation: emojis 1.5s ease-in-out infinite forwards;
}

@-webkit-keyframes emojis {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes emojis {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

footer {
  background: #373A55;
  padding: 50px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .f-left {
  padding: 10px;
  margin-right: 50px;
}

footer .f-left p {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 35px;
}

footer .f-left span {
  display: block;
  line-height: 1.6;
}

footer .f-right {
  padding: 10px;
  margin-left: 50px;
}

footer .f-right p {
  font-size: 24px;
  margin-bottom: 35px;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #25283A;
  color: #ffffff;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: clamp(3.2rem, 5vw, 6.4rem);
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: clamp(3.2rem, 5vw, 7.2rem);
}

h3 {
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
}

h4, h5 {
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

h5 {
  color: #5BC2E2;
  font-size: 28px;
}

p, li, a {
  font-family: 'Hind Madurai', sans-serif;
}

p, li, a {
  font-size: 20px;
}

span {
  font-size: 18px;
  font-family: 'Hind Madurai';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: inherit;
  color: #ffffff;
}

.btn {
  border: 2px solid #5BC2E2;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  margin: 20px 0px;
  background-color: inherit;
  color: #ffffff;
  font-size: 20px;
}

.btn:hover {
  background-color: #5BC2E2;
  border: 2px solid #5BC2E2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.separateur {
  margin: 100px;
}

.titleAnim {
  padding: 30px 0;
  margin-left: 80px;
  font-size: clamp(4rem, 7vw, 7rem);
}

.lineAnim {
  width: 300px;
  height: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}

.bloc_rs a {
  opacity: 1;
  display: inline-block;
}

.bloc_rs a .logo-rs circle, .bloc_rs a .logo-rs path {
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

.bloc_rs a:hover .logo-rs circle {
  fill: #373A55;
}

.bloc_rs a:hover .logo-rs path {
  fill: #ffffff;
}

.bloc_rs a:first-of-type:hover .logo-rs circle {
  fill: #ffffff;
}

.bloc_rs a:first-of-type:hover .logo-rs path {
  fill: #373A55;
}

.bloc_rs a:last-of-type {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */