@import './colors';
@import './mixins';
@import "./banner";
@import './about';
@import './projets';
@import './contact';
@import './footer';

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
  }

body{
    background-color: $background;
    color: $white;
}


h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    // @include font-size(7.2);
    font-size: clamp(3.2rem, 5vw, 6.4rem);
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: clamp(3.2rem, 5vw, 7.2rem);
}

h3{
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
}
h4, h5{
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

h5{
    color: $blue;
    font-size: 28px;
}

p, li, a{
    font-family: 'Hind Madurai', sans-serif;
}

p, li, a{
    font-size: 20px;
}

span{
    font-size: 18px;
    font-family: 'Hind Madurai';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    background-color: inherit;
    color: $white;
}

.btn{
    border: 2px solid $blue;
    padding: 1.2rem 1.8rem;;
    cursor: pointer;
    margin: 20px 0px;
    background-color: inherit;
    color: $white;
    font-size: 20px;

    &:hover{
        background-color: $blue;
        border: 2px solid $blue;
        transition: all 0.3s ease;
    }
}

.separateur{
    margin: 100px;
}

.titleAnim{
    padding: 30px 0;
    margin-left: 80px;
    font-size: clamp(4rem, 7vw, 7rem);
}

.lineAnim{
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background-color: $white;
}

.bloc_rs{

    a{
        opacity: 1;
        display: inline-block;

        .logo-rs circle, .logo-rs path{
            transition: fill 0.5s ease-in-out;
        }
    }

    a:hover .logo-rs circle{
        fill: $darkBlue;
    }
    a:hover .logo-rs path{
        fill: $white;
    }
    a:first-of-type:hover .logo-rs circle{
        fill: $white;
    }
    a:first-of-type:hover .logo-rs path{
        fill: $darkBlue;
    }

    a:last-of-type{
        margin-left: 10px;
    }
}